.Button {
    border-radius: 4px;
    border: 0;
    height: 30px;
    cursor: pointer;
    margin: 5px;
}

.Button span {
    display: flex;
    justify-content: space-around;
}

.Button span svg {
    margin-top: 2px;
}

.Button.Button-mini {
    width: 30px;
}

.Button.Button-normal {
    width: 150px;
}

.Button.Button-wide {
    width: 100%;
}

.Button.Button-danger {
    color: #fff;
    background-color: #dc3545
}

.Button.Button-warning {
    color: #343a40;
    background-color: #ffc107;
}

.Button.Button-success {
    color: #fff;
    background-color: #28a745;
}

.Button.Button-primary {
    color: #fff;
    background-color: #007bff;
}

.Button.Button-secundary {
    color: #343a40;
    background-color: #E0E0E0;
}

.Button.Button:active {
    color: #fff;
    background-color: #263238
}

.Button:disabled {
    background-color: #aaaaaa;
    color: #555555;
}